.nav {
    min-height: 3.865rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}
.organizationSwitcherContainer {
    padding: 0.3rem 0;
}
.organizationSwitcher > button {
    background: rgba(0, 0, 0, 0.2);
}
.organizationSwitcher > button span {
    font-size: 2rem;
}
