.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #44475a;
    width: 100%;

    padding: 0 1rem;
}
.header > main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
}

.userButtonContainer {
    height: 1.75rem;
    width: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
