.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    background: #44475a;
    width: 100%;

    padding: 0 2rem;
}

.nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
}
