*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;

    background: #000000;

    min-height: 100svh;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    color: #f8f8f2;
}

div#root {
    background: #282a36;
    min-height: inherit;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 40rem) {
    div#root {
        width: 80%;
    }
}

@media screen and (min-width: 80rem) {
    div#root {
        width: 120rem;
    }
}

a:link {
    color: #6272a4;
}

a:visited {
    color: #bd93f9;
}

a:hover {
    color: #6272a4;
}

a:active {
    color: #ff5555;
}

a:focus {
    outline: thin dotted;
}

code {
    padding: 0 0.5rem;
    background: #44475a;
}

pre {
    padding: 2rem;
    border: #44475a solid 0.2rem;

    width: 100%;
    overflow-x: auto;
}

ul,
ol {
    padding-left: 4rem;
}
