.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 2rem;
    border: 0.3rem solid #44475a;

    width: 50rem;
    min-height: 68rem;
}

.todoList {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    width: 100%;
}

.todoList > li {
    width: 100%;
    background: #44475a;
    padding: 1rem;
}
