.article > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.article > header > strong {
    width: 10rem;
    text-align: center;
    border-radius: 0.5rem;
    color: #282a36;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
}

.done {
    background: #50fa7b;
}
.inProg {
    background: #ffb86c;
}
.noStart {
    background: #ff5555;
}
